// colorScheme
$background-color: #ECECEC;
$black: #0F292F;

$pink: #C34271;
$light-pink: #F070A1;
$light-green: #16FFBD;
$green: #12C998;
$dark-green: #439F76;

$disabled-grey: #b0afaf;

$grey: #CCCCCC;
$grey-shadow: rgba(121, 120, 120, 0.1);

$row-gap: 16px;
$padding: 16px 32px;
$transition: 0.3s ease all;