@import './variables.scss';
@import './mixins.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	padding: 20px;
}

body {
	@include font($black);
	@include breakpoint(md) {
		$font-size: calc(
			$minFontSize + ($addFontSize + $addFontSize * 0.7) *
				((100vw - 320px) / $widthScreen)
		);
		font-size: $font-size;
		button {
			padding: calc($font-size * 1.125) calc($font-size * 2);
		}
		label {
			padding: calc($font-size * 1.125) calc($font-size * 2 + 5px);
		}
	}
	background-color: $background-color;
}

button {
	@include font(white);
	transition: $transition;
	border: none;
	border-radius: 5px;
}

.header {
	font-family: 'Montserrat-Bold';
}

.main-page,
.result-page {
	height: 100vh;
	@include flex(32px);
}

.main-page__content {
	height: 100vh;
	@include flex(32px);
	strong {
		color: $light-pink;
	}

	.main-page__next-btn {
		background-color: $light-green;
		&:hover {
			background-color: $green;
		}
		&_disabled:hover {
			background-color: $disabled-grey;
		}
	}
}

.result-page {
	&__back-btn {
		@include font(white);
		background-color: $light-pink;
		transition: $transition;
		border-radius: 5px;
		box-shadow: -10px 10px 10px $grey-shadow;

		&:hover {
			background-color: $pink;
		}
	}
}

.uploader {
	color: grey;
	padding: 15px;
	@include flex;
	flex: 0.5 0 0%;
	width: 70%;
	@include breakpoint(md) {
		width: 80%;
	}
	@include breakpoint(sm) {
		width: 90%;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
	border: 5px $grey dotted;
	border-radius: 10px;
	transition: $transition;

	label {
		@include font(white);
		background-color: $light-pink;
		transition: $transition;
		border-radius: 5px;
		box-shadow: -10px 10px 10px $grey-shadow;

		&:hover {
			background-color: $pink;
		}
		input {
			display: none;
		}
	}

	&_active {
		color: white;
		border: none;
		background-color: $light-pink;
		label {
			color: $light-pink;
			background-color: white;
		}
	}
}

.preloader {
	animation: preloader linear 5s infinite;
}

@keyframes preloader {
	100% {
		transform: rotate(360deg);
	}
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bolder;
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf')
		format('truetype');
	font-style: normal;
	font-weight: bolder;
}