@import './variables.scss';
@import './mixins.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	padding: 20px;
}

body {
	background-color: $gray_blue_1;

	@include flex();
	height: 100vh;

	@include font(
		$font_weight: 400,
		$line_height: 17px,
		$font_size_start: 15px,
		$color: $gray_12
	);
}

.main-page {
	height: 40vh;

	.preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&__loader {
			animation: loader linear 5s infinite;
		}
	}

	@keyframes loader {
		100% {
			transform: rotate(360deg);
		}
	}

	&__content {
		height: 100%;
		@include flex();
		row-gap: 16px;
	}
	&__header {
		@include font(
			$font_weight: 700,
			$line_height: 25px,
			$font_size_start: 22px,
			$color: $gray_blue_7
		);
	}
	.uploader {
		height: 100%;
		width: $widthDragDrop;
		@include breakpoint(md) {
			width: $widthDragDrop_md;
		}
		padding: 16px;
		background-color: #e8ebed; // ask(1)
		@include flex();
		row-gap: 16px;
		border-radius: 10px;
		transition: $transition;

		label {
			input {
				display: none;
			}
		}

		&_active {
			background: $blue_2;
			border: 1px solid $blue_4;
		}
		&__file-view {
			width: $widthDragDrop;
			@include breakpoint(md) {
				width: $widthDragDrop_md;
			}
			//height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			//@include flex($flex-direction: row);
		}
		&__file-name {
			@include flex($flex-direction: row, $justify-content: start);
			column-gap: 8px;
		}
		&__trash-tooltip {
			position: relative;
			display: inline-block;
		}
		&__trash-icon,
		&__file-icon {
			width: 15px;
			height: 15px;
			@include breakpoint(md) {
				width: 18px;
				height: 18px;
			}
		}
		&__trash-icon:hover {
			content: url(@/assets/img/svg/trash_active.svg);
		}
		&__trash-tooltiptext {
			visibility: hidden;
			width: 120px; //
			background: $tooltip_bg_color;
			border: 1px solid $gray_7;
			border-radius: 3px;
			padding: 2px 4px;
			position: absolute;
			z-index: 1;
		}
		&__trash-tooltip .uploader__trash-tooltiptext {
			width: 120px;
			top: 100%;
			left: 50%;
			margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
		}
		&__trash-tooltip:hover .uploader__trash-tooltiptext {
			visibility: visible;
		}
	}
	&__btn,
	label {
		@include flex($flex-direction: row);
		transition: $transition;

		@include font(
			$font_weight: 400,
			$line_height: 17px,
			$font_size_start: 15px,
			$color: $gray_12
		);

		padding: 7.5px 26px;
		background: $gray_4;
		border: 1px solid $gray_7;
		border-radius: 3px;
		&:hover {
			background: $blue_1;
			border: 1px solid $blue_3;
		}
		&:active {
			background: $blue_2;
			border: 1px solid $blue_4;
		}
		&_disabled:hover {
			background: $gray_blue_3;
			border: 1px solid $gray_5;
			color: $gray_9;
		}
	}
	&__warning {
		@include flex($flex-direction: row);
		column-gap: 8px;
		@include font(
			$font_weight: 400,
			$line_height: 15px,
			$font_size_start: 13px,
			$color: $gray_9
		);
		.icon {
			width: 12px;
			height: 12px;
			@include breakpoint(md) {
				width: 15px;
				height: 15px;
			}
		}
	}
}

/*.result-page {
	height: 100vh;
	@include flex(32px);
}*/

/*.result-page {
	&__back-btn {
		@include font(white);
		background-color: $light-pink;
		transition: $transition;
		border-radius: 5px;
		box-shadow: -10px 10px 10px $grey-shadow;

		&:hover {
			background-color: $pink;
		}
	}
}*/
