@mixin font ($color, $fontW: normal) {
  font-family: 'Montserrat-Medium';
  font-size: large;
  font-weight: $fontW;
  letter-spacing: 2px;
  color: $color;
}

@mixin flex ($gap: 16px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $gap;
}