@mixin font($color, $font_weight, $line_height, $font_size_start) {
	font-family: 'Liberation Sans';
	font-style: normal;
	font-weight: $font_weight;
	line-height: $line_height;
	font-size: $font_size_start;
	@include breakpoint(md) {
		font-size: calc($font_size_start * 1.5);
	}
	/*@include breakpoint(xll) {
		font-size: calc($font_size_start * 1.5 * 1.5);
	}*/
	color: $color;
	text-align: center;
}

@mixin flex($flex-direction: column, $justify-content: center) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: center;
}

@mixin breakpoint($point) {
	@if $point == xll {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $point == xl {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $point == lg {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $point == md {
		@media (min-width: 768px) {
			@content;
		}
	}
}
