// colorScheme
$gray_5: #D9D9D9;
$gray_6: #CCCCCC;


$background-color: #ececec;
$black: #0f292f;

$pink: #c34271;
$light-pink: #f070a1;
$light-orange: #ffa44a;
$light-green: #16ffbd;
$green: #12c998;
$dark-green: #439f76;

$disabled-grey: #b0afaf;

$grey: #cccccc;
$grey-shadow: rgba(121, 120, 120, 0.1);

$minFontSize: 12px;
$addFontSize: 4;
$widthScreen: 1024;

$transition: 0.3s ease all;

